.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}
.title{
  font-size: 3rem;
}
.para{
  font-size: 1.2rem;
  letter-spacing:0;
}