@import "./partials/font-styles.css";
:root {
 --primary-color:#FFF4CA;
 --secondary-color:#e48E46;
 font-size:16px;
}
body {
  background-color: var(--primary-color);
}
.ant-input-number-input{
    font-size:1.2rem !important;
    font-weight:900;
    font-style:normal;
}